/* Grup Ekleme Sayfası Stilleri */

.container {
    max-width: 90%;
    margin: auto;
  }
  
  .input-field {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .textarea-field {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  
  